/* ====================================
// css variables
// ==================================== */

:root {
  --purple: hsla(275, 96%, 81%, 1);
  --green: hsla(84, 100%, 49%, 1);
  --dark: hsla(0, 0%, 0%, 1);
  --light: #fff;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  width: 428px;
  text-align: center;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

/* Website CSS */

header {
  background: ;
}
