/* ====================================
// css variables
// ==================================== */

:root {
  --purple: hsla(275, 96%, 81%, 1);
  --green: hsla(84, 100%, 49%, 1);
  --dark: hsla(0, 0%, 0%, 1);
  --light: #fff;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  width: 428px;
  text-align: center;
  font-family: "Noto Serif", serif;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

header,
h2,
h3,
.cta-programme,
.quote-container,
.artist {
  text-transform: uppercase;
}

/* Header CSS */

.header-container {
  background: var(--purple);
  padding: 20px;
}

h1 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

h1 span {
  font-family: "Noto Serif", serif;
}

header p {
  font-size: 20px;
  color: var(--light);
  line-height: 24px;
}

nav {
  background: var(--dark);
  padding: 20px 42px;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: var(--light);
  text-decoration: none;
  font-size: 18px;
}

/* Programme CSS */

.programme {
  padding: 60px 20px;
}

h2 {
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 30px;
}

.article-programme-container {
  display: flex;
  gap: 10px;
}

.article-programme-text {
  border: 1px solid var(--dark);
  height: 168px;
  border-top: none;
  margin-bottom: 45px;
}

.article-programme img {
  border-bottom: 7px solid var(--purple);
}

.date {
  font-size: 15px;
  line-height: 15px;
  padding: 20px 0;
}

.artist {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
}

.cta-programme {
  font-family: "Nunito Sans", sans-serif;
  font-style: italic;
  text-decoration: none;
  color: var(--purple);
  background: var(--dark);
  padding: 20px 30px;
  margin-bottom: 60px;
}

/* Quote CSS */

.quote-container {
  background: var(--green);
  padding: 20px;
}

.quote {
  font-family: "Nunito Sans", sans-serif;
  font-style: italic;
  font-size: 30px;
  letter-spacing: -1.5px;
  line-height: 28px;
  margin-bottom: 20px;
}

.subqote {
  font-size: 15px;
}

/* News CSS */

.news {
  background: #f4ede8;
  padding: 60px 20px;
}

.article-news-container {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.article-news {
  width: 189px;
  border-radius: 20px;
  background: var(--light);
}

.img-container {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height: 259px;
  overflow: hidden;
}

.one-month {
  background-image: url(../img/one_month_to_go\ 1.jpg);
  background-position: center;
}

.if-walls {
  background-image: url(../img/if-walls-could-talk.jpg);
  background-position: center;
}

.img-container img {
  height: 100%;
  width: 100%;
}

.article-news p {
  padding: 20px;
  text-align: left;
  font-size: 15px;
  line-height: 22px;
}

.article-news p span {
  font-family: "Nunito Sans", sans-serif;
  font-style: italic;
  text-transform: uppercase;
}

/* Opportunities CSS */

.opportunities h2 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 50px;
  letter-spacing: -2.5px;
  background: var(--purple);
  padding: 20px;
  margin: 0;
}

.opportunities-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.opportunitie {
  background: var(--green);
  width: 50%;
  height: 112px;
  font-family: "Nunito Sans", sans-serif;
  font-style: italic;
  text-transform: uppercase;
  border: 1px solid var(--dark);
  text-align: left;
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 24px;
  padding: 20px 10px;
}

.opportunitie:first-of-type {
  border-right: none;
  border-bottom: none;
}

/*Footer CSS */

footer {
  background: var(--dark);
  padding: 20px 20px 112px;
}

footer h2 {
  color: hsla(0, 0%, 19%, 1);
  font-family: "Nunito Sans", sans-serif;
  font-size: 50px;
}

.links-container {
  display: flex;
  justify-content: space-between;
}

.links {
  color: var(--light);
}

.links h3 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.links a {
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
}
